venv/
ENV/
env/
.venv/

joblibs/ #klasörü gizledim kendiniz oluşturmalısınız jobliblerin kayıt edilebilmesi için
jovlibs/*.joblib
joblibs/*.pkl
*.joblib
*.pkl

*.csv
*.xlsx

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/